.container-body{
    margin-top: 60px;
}

/* --- Centering Navbar Brand  --- */
/* --- https://stackoverflow.com/questions/20024463/bootstrap-3-how-do-i-place-the-brand-in-the-center-of-the-navbar  --- */

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 60%;
}
.navbar-brand {
    float:none;
}

.dropdown {
   float:left; 
}

.row-modal {
    margin-top: 25px;
}

/* Carousel */
.carousel-inner img {
  margin: auto;  
}


